<div class="search-bar-container d-flex flex-row">
    <div class="search-input">
        <span class="icon-search"></span>
        <input type="text" class="search-userinput" placeholder="Search">
    </div>
    <div class="search-custom d-flex flex-row">
        <div class="searchbar-options d-flex flex-row">
            <span class="icon-Language"></span>
            <span class="icon-Categories"></span>
            <span class="icon-Mode"></span>
            <span class="icon-Notifications"></span>
        </div>
        <div class="user-profile-container h-40 flex-row">
            <img src="../../assets/images/Avatar.png" alt="user" />
            <span class="active-dot"></span>
            <div class="profile-text h-40 f-col fw-n">
                <p>Jon Abhram</p>
                <h6>Admin</h6>
            </div>
            <i class="icon-down-arrow"></i>
        </div>
    </div>
</div>